# i3 config file (v4)

# Select default font
font pango:Ubuntu Light 12

#
# Variables
#

set $mod Mod4
set $meta Mod1

# Default applications
set $terminal "urxvt"
set $browser "palemoon"
set $filemgr "rox"

#
# Color
#

# Using colors from Xresources
set_from_resource $black color0 #272822
set_from_resource $pink color3 #f92772
set_from_resource $green color2
set_from_resource $aqua color4 #66d9ff
set_from_resource $orange color5
set_from_resource $purple color6 #ae81ff
set_from_resource $red color1
set_from_resource $white color7 #f8f8f2
set_from_resource $cream color15 #d7f7b7


# Set window colors
client.focused $black $black $white $pink $black
client.focused_inactive $black $black $cream $green
client.unfocused $black $black $cream $green
client.urgent $white $pink $white $pink $white
client.placeholder $black $black $white $black
client.background $black

#
# Autostart
#

# Start compositor with shadows enabled & daemonize
exec --no-startup-id compton -bc


# Set desktop background
exec --no-startup-id nitrogen --set-zoom-fill ~/pictures/dprk-painting.png

#
# Windows
#

# Only enable visible borders on floating windows
default_border none
default_floating_border pixel 1

# Smartly exit fullscreen for urgent notification
popup_during_fullscreen smart

#
# Workspaces
#

# Name workspaces
set $ws1 "1:A"
set $ws2 "2:B"
set $ws3 "3:C"
set $ws4 "4:D"
set $ws5 "5:E"
set $ws6 "6:F"
set $ws7 "7:G"
set $ws8 "8:H"
set $ws9 "9:I"
set $ws10 "10:J"
set $wsi "11:I"
set $wsii "12:II"
set $wsiii "13:C"
set $wsiv "14:D"
set $wsv "15:E"
set $wsvi "16:F"
set $wsvii "17:G"
set $wsviii "18:H"
set $wsix "19:I"
set $wsx "20:J"

workspace $ws1 output VGA1
workspace $ws2 output VGA1
workspace $ws3 output VGA1
workspace $ws4 output VGA1
workspace $ws5 output VGA1
workspace $ws6 output VGA1
workspace $ws7 output VGA1
workspace $ws8 output VGA1
workspace $ws9 output VGA1
workspace $ws10 output VGA1

# Go back and forth between workspaces when switching
workspace_auto_back_and_forth yes

#
# Panels
#

# Currently using polybar for bars
# When uncommented, bar-0 & bar-1 appear on different windows
# Comment the output lines when using only a single monitor

bar {
	id bar-0
	output VGA1
	tray_output VGA1
	font pango:Ubuntu Light 12
	separator_symbol "=^..^="
	status_command i3status
	workspace_buttons yes
	strip_workspace_numbers yes
	position top
}

#bar {
#	id bar-2
#	output VGA2
#	tray_output none
#	separator_symbol "=^..^="
#	status_command i3status
#	workspace_buttons yes
#	strip_workspace_numbers yes
#}

#
# Keyboard Shortcuts
#

# Restart i3 in place
bindsym $mod+Shift+r restart

# Reload configuration file
bindsym $mod+Shift+c reload

# GTFO
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the GTFO button. Do you really want to GTFO?' -b 'Yes, GTFO' 'i3-msg exit'"

# Launch default applications
bindsym $mod+Return exec $terminal
bindsym $meta+Return exec $filemgr
bindsym $mod+Shift+Return exec $browser

# Take a screenshot
bindsym --release $mod+p exec scrot -q 100 'screen_%d%m%H%M' -e 'mv $f ~/pictures/screens'

# Start menu
bindsym $mod+d exec --no-startup-id rofi -show run
bindsym $mod+Shift+d exec --no-startup-id rofi -show window
#bindsym $mod+d exec dmenu_run

# Split windows horizontally or vertically
bindsym $mod+v split v
bindsym $mod+h split h

# Kill focused window
bindsym $mod+Shift+q kill

# Alter layout
bindsym $meta+s layout stacking
bindsym $meta+t layout tabbed
bindsym $meta+h layout splith
bindsym $meta+v layout splitv

# Toggle layout
bindsym $meta+l layout toggle split
bindsym $meta+x layout toggle tabbed splith
bindsym $mod+l layout toggle all

# Toggle fullscreen
bindsym $mod+f fullscreen toggle

# Alter window layout
bindsym $meta+Space floating toggle

# Change focus
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right 

# Move windows
bindsym $meta+Left move left
bindsym $meta+Right move right
bindsym $meta+Up move up
bindsym $meta+Down move down

# Toggle sticky windows
bindsym $mod+x sticky toggle

# Moving between workspaces
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0
bindsym $meta+1 workspace $wsi
bindsym $meta+2 workspace $wsii
bindsym $meta+3 workspace $wsiii
bindsym $meta+4 workspace $wsiv
bindsym $meta+5 workspace $wsv
bindsym $meta+6 workspace $wsvi
bindsym $meta+7 workspace $wsvii
bindsym $meta+8 workspace $wsviii
bindsym $meta+9 workspace $wsix
bindsym $meta+0 workspace $wsx

# Moving between workspaces
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0
bindsym $meta+Shift+1 move container to workspace $wsi
bindsym $meta+Shift+2 move container to workspace $wsii
bindsym $meta+Shift+3 move container to workspace $wsiii
bindsym $meta+Shift+4 move container to workspace $wsiv
bindsym $meta+Shift+5 move container to workspace $wsv
bindsym $meta+Shift+6 move container to workspace $wsvi
bindsym $meta+Shift+7 move container to workspace $wsvii
bindsym $meta+Shift+8 move container to workspace $wsviii
bindsym $meta+Shift+9 move container to workspace $wsix
bindsym $meta+Shift+0 move container to workspace $wsx

# Change workspace name
bindsym $mod+r exec i3-input -F 'rename workspace to "%s"' -P 'New workspace name (use WS number in input, i.e. "1:Mail"): '

# Move container between monitors
bindsym $mod+Tab move container to output left
bindsym $mod+Shift+Tab move container to output right

# Jump to next open container that meets the defined criteria
bindsym $mod+Shift+t [class="$terminal"] focus
bindsym $mod+Shift+b [class="$browser"] focus
bindsym $mod+Shift+f [class="$filemgr"] focus
bindsym $mod+Shift+z [class="(?i)zim"] focus
bindsym $mod+Shift+a [class="atom"] focus

# Mark important windows
bindsym $mod+i title_format "Important | %title%"

# Create and view scratchpad
bindsym $meta+minus move scratchpad
bindsym $mod+minus scratchpad show

#
# Anything Else
#

# Nothing? Boooooring.
